body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

h2 {
    color: #008080;
}

form {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

input {
    padding: 8px;
    margin-bottom: 10px;
}

button {
    padding: 10px;
    background-color: #008080;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #005555;
}

p {
    margin-top: 10px;
    font-weight: bold;
}

a {
    color: #008080;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#resultF,
        #sum,
        #result {
            font-weight: bold;
            margin-top: 10px;
        }

        #clearButton {
            padding: 10px;
            background-color: #808080;
            color: #fff;
            border: none;
            cursor: pointer;
        }

        #clearButton:hover {
            background-color: #555555;
        }