/* Imported Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

/* Global Styles */
:root {
  --bg-color: #23112d;
  --second-bg-color: #2f173b;
  --text-color: #fff;
  --main-color: linear-gradient(45deg, #f6bee7, #570276);
  --sm-color: rgb(177, 122, 205);
}

body {
  font-family: Poppins, sans-serif;
  text-align: center;
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.video-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#video-bg {
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}

.content {
  z-index: 1;
  text-align: center;
  color: white;
}

h2 {
  background: linear-gradient(45deg, #f6bee7, #570276);
  -webkit-background-clip: text; 
  color: transparent;
  font-weight: bold;
  font-size: 3em;
  text-shadow: 0 0 2px rgba(247, 180, 254, 0.8);
  margin-bottom: 2rem;
}

label, select, input, button {
  margin: 10px;
  padding: 8px;
  border-radius: 5px;
  border: none;
}

select, input {
  width: 200px;
}

label {
  display: block;
  color: #fcbbeb;
  background: linear-gradient(45deg, #f6bee7, #570276);
  -webkit-background-clip: text; 
  color: transparent;
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 0px;
}

select, input, button {
  background-color: #4c1c5d;
  color: var(--sm-color);
}

.convert-btn {
  display: inline-block;
  padding: 10px 50px;
  background: var(--main-color);
  border-radius: 1rem;
  box-shadow: 0 0 7px var(--sm-color);
  font-size: 14px;
  color: var(--second-bg-color);
  letter-spacing: 0.5px;
  font-weight: 750;
  transition: .5s ease;
  margin-top: 0px;
}

.convert-btn:hover {
  box-shadow: none;
}

.clear-btn {
  display: inline-block;
  padding: 10px 40px;
  background: var(--main-color);
}